/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.userImage {
  background-image: url("../src/assets/joe-banner.webp");
}

@media (max-width: 640px) {
  .userImage {
    background-image: url("../src/assets/joe-banner-mob.png");
  }
}